body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Sidebar Styles */
  #main-sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: #2c3e50; /* Sidebar background color */
    padding-top: 20px;
  }
  
  .sidebar-list {
    padding: 0;
    list-style: none;
  }
  
  .sidebar-list li {
    padding: 8px 15px;
    border-bottom: 1px solid #34495e; /* Sidebar item border color */
  }
  
  .sidebar-list a {
    text-decoration: none;
    color: #ecf0f1; /* Sidebar text color */
  }
  
  .sidebar-list a:hover {
    color: #3498db; /* Sidebar text color on hover */
  }
  
  .section-heading {
    padding: 10px 15px;
    font-size: 1.2em;
    color: #3498db; /* Heading text color */
  }
  
  .sidebar-list li.active {
    background-color: #3498db; /* Active sidebar item background color */
    padding-left: 20px;
  }
  
  .sidebar-list li.active a {
    color: #ffffff; /* Active sidebar item text color */
  }
  
  .sub-list {
    padding-left: 20px;
    display: none;
  }
  
  .sidebar-list li:hover > .sub-list {
    display: block;
  }
  
  .sub-list li {
    padding: 8px 0;
  }
  
  .icon {
    margin-right: 10px;
    font-size: 18px;
    color: #ecf0f1; /* Icon color */
  }
  
  /* Page Content Styles */
  #content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s;
  }
  
  /* Reservation Form Styles */
  #reservationForm {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff; /* Set a background color for the form */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for a card-like effect */
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #333; /* Label text color */
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #3498db; /* Button background color */
    color: #ffffff; /* Button text color */
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }